<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754492532478-9eqfkipron29ojg7180eg3fs60l851v1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754492532478-9eqfkipron29ojg7180eg3fs60l851v1</string>
	<key>API_KEY</key>
	<string>AIzaSyBEnHGt-dWfgxYFnkM4_SrvMzk_7qjYYpw</string>
	<key>GCM_SENDER_ID</key>
	<string>754492532478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TECMONTERREY.Buscandog</string>
	<key>PROJECT_ID</key>
	<string>buscandogapp-8b61d</string>
	<key>STORAGE_BUCKET</key>
	<string>buscandogapp-8b61d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754492532478:ios:36b077eb64e17a9a1be7af</string>
</dict>
</plist>